
.under-construction {
    text-align: center;
    font-size: 1cm;
    font-family: Arial, Helvetica, sans-serif;
}

.chichi {
    background-color :royalblue;
    margin-left:36%;
    margin-right: 36%;
    margin-top: 1cm;
    margin-bottom: 2cm;
    text-align: center;
    font-size: 3cm;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

